[url "git@github.com:"]
  pushInsteadOf = git://github.com/
  pushInsteadOf = https://github.com/
  insteadOf = https://github.com/
  insteadOf = git://github.com/
[user]
  name = joonho.whangbo
  email = joonho.whangbo@berkeley.edu
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
